config.pri
assets/.*
arm/*
arm/Makefile.Debug

arm/Makefile.Release

arm/o.le-v7-g/.obj/ApplicationUI.o

arm/o.le-v7-g/.obj/dododo.gch/c++

arm/o.le-v7-g/.obj/main.o

arm/o.le-v7-g/.obj/moc_applicationui.o

arm/o.le-v7-g/dododo

config.pri
